@page
@model BD_Wholesale_warehouse.Pages.Filtry.Dostavka
@{
    <h1>Фильтр по способам доставки</h1>

    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Warehouse[0].ProductID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Warehouse[0].Delivery_method)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Warehouse)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_method)
                </td>
            </tr>
            }
        </tbody>
    </table>

}
