@page
@model BD_Wholesale_warehouse.Pages.Filtry.Sotrudniki
@{
}
<h1>Отдел кадров</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Position_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Full_name)
                </td>
                <td>
                    @Model.Positions.Job_title
                </td>
            </tr>
        }
    </tbody>
</table>
