@page
@model BD_Wholesale_warehouse.Pages.ZP.IndexModel
@{
}
  

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <a class="nav-link text-dark" asp-area="" asp-page="/ZP/Zaprosy/OtdelKadrov">Отдел кадров</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="/ZP/Zaprosy/SpisokPostavwikov">Список поставщиков</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="/ZP/Zaprosy/SpisokTovarov">Список товаров</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="/ZP/Zaprosy/SpisplZakaz4ikov">Список заказчиков</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="/ZP/Zaprosy/Zakazy">Заказы</a>
                </div>
        </div>
      
